*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: rgb(5, 68, 104);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Container{
    font-family: 'Inter', sans-serif;
    margin-top: 50px;
    background-color:  rgba(216, 224, 236, 0.938);
    align: center;
    background-blend-mode: hue;
    border: 10px solid rgb(39, 21, 105);
    border-radius: 10px;
    border-style: double;
    font-size: 150%;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 0%;
    font-size: 300%;
    color: rgb(60, 78, 180);
    text-decoration: underline;
    text-underline-position: auto;
    text-shadow: 100px;
}
.Login{
    background-color: #2a65be; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
   
}
.Login:hover{
    background-color: rgba(37, 94, 218, 0.671);
    border-radius: 10px;
    padding: 12px 24px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}
.Login:active{
    background-color: rgb(127, 184, 235);
    box-shadow: o 5px #666;
    transform: translateY(4px);
}
.UserPass{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;

}
.UserPass input{
    align-content: center;
    width: 220px;
    height: 30px;
    border-color: rgb(20, 74, 190);
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}
.Lupa_Password{
    background-color: rgb(65, 121, 185);
    border-radius: 10px;
    padding: 15px 30px;
}

