@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #f5f7ff;
}

.wrapper .sidebar {
  background: rgb(5, 68, 104);
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
  /* opacity: 80%; */
}

.wrapper .sidebar .profile {
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .sidebar .profile img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.wrapper .sidebar .profile h3 {
  color: #ffffff;
  margin: 10px 0 5px;
}

.wrapper .sidebar .profile p {
  color: rgb(206, 240, 253);
  font-size: 14px;
}

.wrapper .sidebar ul li a {
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}

.wrapper .sidebar ul li a .icon {
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  color: #0c7db1;

  background: white;
  border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
  color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
  display: block;
}

.wrapper .section {
  width: calc(100% - 225px);
  margin-left: 225px;
  transition: all 0.5s ease;
}

.wrapper .section .top_navbar {
  background: rgb(7, 105, 185);
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.wrapper .section .top_navbar .hamburger a {
  font-size: 28px;
  color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover {
  color: #00bae9;
}

body.active .wrapper .sidebar {
  left: -225px;
}

body.active .wrapper .section {
  margin-left: 0;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bawah{
  list-style-type: none;
  width: 100%;
  height: 200px;
  margin-top: 1000px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: rgb(19, 23, 71);
  color: white;
}
.input{
  align-content: center;
  width: 200px;
  height: 20px;
  border-color: rgb(34, 86, 199);
  border-radius: 5px;
}
.tombol{
  background-color: #2a65be; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
 
}
.tombol:hover{
  background-color: rgba(37, 94, 218, 0.671);
  border-radius: 10px;
  padding: 12px 24px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  
}
.tombol:active{
  background-color: rgb(127, 184, 235);
  box-shadow: o 5px #666;
  transform: translateY(4px);
}
.tabin{
  border-collapse: collapse;
}
.SpawnButton{
  background-color: #2a65be; /* Green */
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 8px;
}
.SpawnButton:hover{
  background-color: rgb(127, 184, 235);
  box-shadow: o 5px #666;
}
.SpawnButton:active{
  background-color: rgb(127, 184, 235);
  box-shadow: o 5px #666;
}
.table{
  width: auto;
  height: auto;
  margin: auto;
  border-collapse: collapse;
}
.tabwrapper{
  display: block;
}
.table, th, td{
  border: 1px solid #999;
  padding: 8px 20px;
}
@media only screen and (max-width: 500px) {
  .table{
    width: 430px;
    height: 450px;
    margin: auto;
    border-style: solid;
    border-collapse: collapse;
    overflow: auto;
  }
  .tabwrapper{
    display: block;
  }
  .table, th, td{
    border: 1px solid #999;
    padding: 8px 20px;
  }
}
@media only screen and (max-width: 400px) {
  .table{
    width: 300px;
    height: 350px;
    margin: auto;
    border-style: solid;
    border-collapse: collapse;
    overflow: auto;
  }
  .tabwrapper{
    display: block;
  }
  .table, th, td{
    border: 1px solid #999;
    padding: 8px 20px;
  }
}
.topright{
  background-color: #68b1ec;
  width: 600px;
  height: 300px;
  margin-right: 700px;
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 40px;
  font-family: "Open Sans", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.topleft{
  width: 500px;
  height: 300px;
  margin-top: -300px;
  margin-left: 600px;
  font-family: "Open Sans", sans-serif;
  color: black;
  display: block;
  
}
@media only screen and (max-width: 1400px) {
  .topright{
    background-color: #68b1ec;
    width: 600px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 40px;
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);
    overflow: auto;
    text-align: justify;
    font-weight: bold;
  }
  .topleft{
    align-content: center;
    width: 310px;
    height: 420px;
    margin-top: 50px;
    margin-right: 900px;
    font-family: "Open Sans", sans-serif;
    color: black;
  }
}
@media only screen and (max-width: 500px) {
  .topright{
    background-color: #68b1ec;
    width: 420px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 40px;
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);
    overflow: auto;
    text-align: justify;
    font-weight: bold;
  }
  .topleft{
    width: 430px;
    height: 450px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Open Sans", sans-serif;
    color: black;
    display: block;
    overflow: auto;
  }
}
@media only screen and (max-width: 400px) {
  .topright{
    background-color: #68b1ec;
    width: 280px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 40px;
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);
    overflow: auto;
    text-align: justify;
  }
  .topleft{
    width: 300px;
    height: 380px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Open Sans", sans-serif;
    color: black;
    display: block;
    overflow: auto;
  }
}